body,html,ul,li,ol,dl,dt,dd,image,a,div,span,p{
    margin: 0;
    padding: 0;
    list-style: none;

}
/*img{*/
    /*width: 100%;}*/

/*header*/

/*导航默认样式*/
.navbar-jxzy {
    background-color: #fff;
    border-color: #379f66;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    top: 0;
    height: 106px;
    background-image: url(../images/bg.png);
    border-bottom: 0;
    box-shadow: 0px 1px 3px #b9b8b8;
}
.navbar-jxzy .navbar-brand {
    color: #ffffff;
}
.navbar-jxzy .navbar-brand:hover,
.navbar-jxzy .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}

#nav .nav-pills li.active,#nav .nav-pills li:hover {
    line-height: 106px;
    color: #ffffff;
    background-color: #379f66;
}

.navbar-jxzy .navbar-nav > li > a:hover,
.navbar-jxzy .navbar-nav > li > a:focus {
    color: #379f66;
    background-color: transparent;

}
.navbar-jxzy .navbar-nav > .active > a,
.navbar-jxzy .navbar-nav > .active > a:hover,
.navbar-jxzy .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;


}
.navbar-jxzy .navbar-nav > .active > a p,
.navbar-jxzy .navbar-nav > .active > a:hover p,
.navbar-jxzy .navbar-nav > .active > a:focus p {
    color: #fff;
    font-size: 12px;
}
.navbar-jxzy .navbar-nav > .disabled > a,
.navbar-jxzy .navbar-nav > .disabled > a:hover,
.navbar-jxzy .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: #379f66;
}
.navbar-jxzy .navbar-toggle {
border-color: #fff;
background-color: #fff;
}
.navbar-jxzy .navbar-toggle:hover,
.navbar-jxzy .navbar-toggle:focus {
    background-color: #379f66;
}
.navbar-jxzy .navbar-toggle .icon-bar {
    background-color: #888888;
}
.navbar-jxzy .navbar-collapse,
.navbar-jxzy .navbar-form {
    border-color: #379f66;
}
.navbar-jxzy .navbar-nav > .open > a,
.navbar-jxzy .navbar-nav > .open > a:hover,
.navbar-jxzy .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #379f66;
}
@media (max-width: 767px) {
    .navbar-jxzy{
        background-color: #fff;
        border-bottom: 2px solid #007c3a;}
    .navbar-jxzy .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-jxzy .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-jxzy .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #379f66;
        background-color: #fff;
    }
    .navbar-jxzy .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-jxzy .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-jxzy .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #379f66;
        background-color: #ffffff;
    }
    .navbar-jxzy .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-jxzy .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-jxzy .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
    .navbar-jxzy .navbar-nav > .active > a,
    .navbar-jxzy .navbar-nav > .active > a:hover,
    .navbar-jxzy .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: #379f66;
    }
    .navbar-jxzy .navbar-nav > li > a {
        color: #333;
    }
    .navbar-jxzy .navbar-nav > li > a:hover, .navbar-jxzy .navbar-nav > li > a:focus{
        color: #379f66;
        background-color: #fff;
    }
    .navbar-jxzy .navbar-toggle {
        border-color: #379f66;
        background-color: #379f66;
    }
}
.navbar-jxzy .navbar-link {
    color: #ffffff;
}
.navbar-jxzy .navbar-link:hover {
    color: #379f66;
}
.navbar-jxzy .btn-link {
    color: #ffffff;
}
.navbar-jxzy .btn-link:hover,
.navbar-jxzy .btn-link:focus {
    color: #379f66;
}
.navbar-jxzy .btn-link[disabled]:hover,
fieldset[disabled] .navbar-jxzy .btn-link:hover,
.navbar-jxzy .btn-link[disabled]:focus,
fieldset[disabled] .navbar-jxzy .btn-link:focus {
    color: #cccccc;
}


.navbar-jxzy .nav > li > a {
    padding: 15px 14px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
}



/*按钮样式*/

.btn-jxzy {
    color: #ffffff;
    background-color: #379f66;
    border-color: #379f66;
}
.btn-jxzy:focus,
.btn-jxzy.focus {
    color: #ffffff;
    background-color: #379f66;
    border-color: #379f66;
}
.btn-jxzy:hover {
    color: #ffffff;
    background-color: #379f66;
    border-color: #379f66;
}
.btn-jxzy:active,
.btn-jxzy.active,
.open > .dropdown-toggle.btn-jxzy {
    color: #ffffff;
    background-color: #379f66;
    border-color: #379f66;
}
.btn-jxzy:active:hover,
.btn-jxzy.active:hover,
.open > .dropdown-toggle.btn-jxzy:hover,
.btn-jxzy:active:focus,
.btn-jxzy.active:focus,
.open > .dropdown-toggle.btn-jxzy:focus,
.btn-jxzy:active.focus,
.btn-jxzy.active.focus,
.open > .dropdown-toggle.btn-jxzy.focus {
    color: #ffffff;
    background-color: #379f66;
    border-color: #379f66;
}
.btn-jxzy:active,
.btn-jxzy.active,
.open > .dropdown-toggle.btn-jxzy {
    background-image: none;
}
.btn-jxzy.disabled:hover,
.btn-jxzy[disabled]:hover,
fieldset[disabled] .btn-jxzy:hover,
.btn-jxzy.disabled:focus,
.btn-jxzy[disabled]:focus,
fieldset[disabled] .btn-jxzy:focus,
.btn-jxzy.disabled.focus,
.btn-jxzy[disabled].focus,
fieldset[disabled] .btn-jxzy.focus {
    background-color: #379f66;
    border-color: #379f66;
}
.btn-jxzy .badge {
    color: #379f66;
    background-color: #ffffff;
}

/*panel面板*/

.panel-jxzy > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-jxzy > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #dddddd;
}
.panel-jxzy > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333333;
}
.panel-jxzy > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #dddddd;
}

/*tab切换*/
.nav-jxzy {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: none;
}
.nav-jxzy > li {
    margin-bottom: -1px;
}
.nav-jxzy > li > a {
    margin-right: 2px;
    line-height: 1.8;
    border-bottom: 1px solid #efeded;
    color: #379f66;
    text-align: center;
    font-weight: bold;
}
.nav-jxzy > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav-jxzy > li.active > a,
.nav-jxzy > li.active > a:hover,
.nav-jxzy > li.active > a:focus {
    text-align: center;
    color: #fff;
    background-color: #379f66;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-jxzy.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-jxzy.nav-justified > li {
    float: none;
}
.nav-jxzy.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-jxzy.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-jxzy.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-jxzy.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-jxzy.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-jxzy.nav-justified > .active > a,
.nav-jxzy.nav-justified > .active > a:hover,
.nav-jxzy.nav-justified > .active > a:focus {
    border: 1px solid #dddddd;
}
@media (min-width: 768px) {
    .nav-jxzy.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-jxzy.nav-justified > .active > a,
    .nav-jxzy.nav-justified > .active > a:hover,
    .nav-jxzy.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}


/*分页*/

.page-jxzy>.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.page-jxzy>.pagination > li {
    display: inline;
}
.page-jxzy>.pagination > li > a,
.page-jxzy>.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #379f66;
    background-color: #fff;
    border: 1px solid #cccccc;
    margin-left: -1px;
}
.page-jxzy>.pagination > li:first-child > a,
.page-jxzy>.pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.page-jxzy>.pagination > li:last-child > a,
.page-jxzy>.pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.page-jxzy>.pagination > li > a:hover,
.page-jxzy>.pagination > li > span:hover,
.page-jxzy>.pagination > li > a:focus,
.page-jxzy>.pagination > li > span:focus {
    z-index: 2;
    color: #333;
    background-color: #ddd;
    border-color: #ddd;
}
.page-jxzy>.pagination > .active > a,
.page-jxzy>.pagination > .active > span,
.page-jxzy>.pagination > .active > a:hover,
.page-jxzy>.pagination > .active > span:hover,
.page-jxzy>.pagination > .active > a:focus,
.page-jxzy>.pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #379f66;
    border-color: #379f66;
    cursor: default;
}
.page-jxzy>.pagination > .disabled > span,
.page-jxzy>.pagination > .disabled > span:hover,
.page-jxzy>.pagination > .disabled > span:focus,
.page-jxzy>.pagination > .disabled > a,
.page-jxzy>.pagination > .disabled > a:hover,
.page-jxzy>.pagination > .disabled > a:focus {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}
.page-jxzy>.pagination-lg > li > a,
.page-jxzy>.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.page-jxzy>.pagination-lg > li:first-child > a,
.page-jxzy>.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.page-jxzy>.pagination-lg > li:last-child > a,
.page-jxzy>.pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.page-jxzy>.pagination-sm > li > a,
.page-jxzy>.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.page-jxzy>.pagination-sm > li:first-child > a,
.page-jxzy>.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.page-jxzy>.pagination-sm > li:last-child > a,
.page-jxzy>.pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


/*form-control*/

.form-control-jxzy {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #379f66;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-jxzy:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control-jxzy::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.form-control-jxzy:-ms-input-placeholder {
    color: #999999;
}
.form-control-jxzy::-webkit-input-placeholder {
    color: #999999;
}
.form-control-jxzy::-ms-expand {
    border: 0;
    background-color: transparent;
}
.form-control-jxzy[disabled],
.form-control-jxzy[readonly],
fieldset[disabled] .form-control-jxzy {
    background-color: #eeeeee;
    opacity: 1;
}
.form-control-jxzy[disabled],
fieldset[disabled] .form-control-jxzy {
    cursor: not-allowed;
}




.content .media-left>a>img,.content-sec .media-left>a>img{
    width: 158px;
    height: 127px;
    margin-right: 20px;
}



/*子页面的banner*/
#same>.item{
    background-repeat: no-repeat!important;
    background-position: center center;
    background-size: cover;
}
.content-all{
    border: 1px solid #dadada ;
    border-top: none;
    overflow: hidden;
    padding: 20px 0  40px;
    margin-bottom: 70px;
}
@media (max-width: 768px){
    .content-all{
        border: none;
        overflow: hidden;
        padding: 0;
        margin-bottom: 10px;
    }

}


/*都会用到的*/
img { width: 100%;}
.page-jxzy{
    text-align: center;
}
a:hover,a:focus { color: #379f66; text-decoration: none;}

/*nav*/

.icon img {
    height: 100px;
    padding-top: 3px;
    width: 97px;
}


.navbar-jxzy .navbar-text a{
    color: #333;
}
.navbar-jxzy .navbar-text a p{
    color: #666;
}
.navbar-jxzy .navbar-nav > li > a {
    color: #333;
}
.navbar-jxzy .navbar-nav > li > a > p {
    color: #666;
    font-weight: normal;
}

.navbar-jxzy .navbar-nav > li:hover > a ,.navbar-jxzy .navbar-nav > li:hover > a > p {
    color: #fff;
}

#nav .nav-pills {
    height: 106px;
}
#nav .nav-pills > li {
    height: 106px;
}
/*footer*/

footer ,footer a ,footer a:hover {
    color: #fff;
}
footer > .link {
    height: 62px;
    background-color: #017a3c;
    line-height: 62px;
}
footer > .link > a {
    padding: 0 15px;
}

footer > .banquan {
    height: 35px;
    background-color: #006e36;
    line-height: 35px;
}

/*float*/
.phone{z-index: 5;}
.float-contact{
position:fixed;
right: 0;
bottom: 120px;
z-index: 5;
}

.float-contact>.qq,.phone>.phone-right,.float-contact>.top{
    width: 38px;
    height: 38px;
    display: block;
    line-height: 38px;
    border: 1px solid #eaeaea;
    font-size: 20px;
}

.float-contact>.qq,.phone>.phone-right {
    background-color: #fff;
    color: #379f66;
}

.float-contact>.top {
    background-color: #379f66;
    color: #fff;
    margin-top: 5px;
}
.phone{
    position: fixed;
    bottom: 235px;
    right: 0;
}

.phone>.phone-left{
    position: fixed;
    right: 40px;
    background-color: #379f66;
    height: 38px;
    width: 210px;
    border: 1px solid #eaeaea;
    color: #fff;
    line-height: 38px;
    font-size: 16px;
    display: none;
}
.phone > .phone-right > a {color: #379f66;}
.phone > .phone-left > a {
    color: #fff;
}
.search-common {
    position: fixed;
    bottom: 198px;
    right: 0;
    background-color: transparent;
    z-index: 3;
    font-size: 16px;
    height: 38px;
}
.search-common .search-right {
    width: 38px;
    height: 40px;
    background-color: #fff;
    color: #379f66;
    display: inline-block;
    border: 1px solid #eaeaea;
    line-height: 38px;
    position: absolute;
    right: 0;
    font-size: 20px;
}
.search-common .search-right:hover{
    color :#379f66;
}
.search-common .navbar-form {
    display: inline-block;
    margin-right: -20px;
    margin-top: 1px;
}

.search-common .form-control {
    border-radius: 0;
    border: 1px solid #379f66;
    height: 34px;
}
.search-common .btn-jxzy {
     margin-left: -4px;
     border-radius: 0;
     height: 34px;
     font-size: 16px;
     width: 38px;
     padding: 0;
     line-height: 30px;
 }

.totop{display: none;}











/*1200屏幕*/
@media (max-width:1200px){
    .navbar-jxzy .nav > li > a {padding: 8px 20px;}
    /*#nav*/

    .icon img {
        height: 74px;
        width: 71px;
    }
    .navbar-jxzy,#nav .nav-pills,#nav .nav-pills > li, #nav .nav-pills li:hover{
        height: 80px;
    }
}
/*991屏幕*/
@media (max-width:991px){
    .navbar-jxzy .nav > li > a {
        padding: 8px 6px;
    }
}
/*768屏幕*/
@media (max-width:767px) {

    img {
        width: 100%;
    }
    /*主页面*/
    .navbar-jxzy {
        background-image: none;
        height: 56px;
    }
    .headL {
        margin-top: 7px;
        margin-left: 15px;
    }
    .navbar-jxzy .navbar-nav > li > a > p {
        display: none;
    }
    .navbar-jxzy .nav > li > a {
        padding: 0;
        margin-top: 0;
    }
    .navbar-jxzy .nav > li > a:focus {
        color: #333;
    }
    #nav .nav-pills li.active, #nav .nav-pills li:hover {
        line-height: 47px;
        height: 47px;
    }
    #nav .nav-pills {
        margin-top: 0;
        height: auto;
    }
    #nav .nav-pills > li {
        height: 47px;
        background-color: #fff;
        margin-left: 0;
        width: 100%;
    }
    #nav .navbar-form {
        background-color: #fff;
        width: 100%;
    }
    #nav .form-group {
        width: 82%;
        display: inline-block;
    }
    #nav .navbar-form  button.btn-jxzy {
        /*width: 15%;*/
        margin-top: -4px;

    }
    .navbar-jxzy .nav > li > a {
        line-height: 47px;
    }
    .navbar-jxzy .navbar-collapse, .navbar-jxzy .navbar-form {
        background-color: #fff;
    }


    .banquan a {
        display: block;
    }
    footer {
        margin-top: 10px;
    }
    footer > .banquan {
        padding-top: 5px;
        height: 60px;
        line-height: 25px;
        background-color: #379f66;
    }

    /*返回顶部*/
    .totop{
        position: fixed;
        background-color:rgba(255,255,255,0.5) ;
        border:1px solid #379f66;
        width: 30px;
        height: 30px;
        bottom: 70px;
        right: 0;
        border-radius: 20px;
        text-align: center;
        display: block;
        z-index: 2;
    }
    .totop>i{
        font-size: 25px;
        line-height: 30px;
        color: #379f66;
    }


    /*news*/

   .content .media-left>a>img,.content-sec .media-left>a>img {
        width: 80px;
        height: 75px;
        margin-right: 10px;
    }

    .content .page-jxzy > div {
        height: 74px;
        line-height: 74px;
    }
}